<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="1.1.0">
 <file name="C:\work\Pox-Framework\application\controllers\BlogController.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Acl.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Auth.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\BusinessObject.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Controller.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Database.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Errors.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Form.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Logger.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\ObjectFactory.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Router.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\SmartyView.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\TextUtilities.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Utilities.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Age.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Date.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Equals.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Phone.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Uri.php">
 </file>
 <file name="C:\work\Pox-Framework\application\lib\Validate\Zipcode.php">
 </file>
 <file name="C:\work\Pox-Framework\application\models\Post\All.php">
 </file>
 <file name="C:\work\Pox-Framework\application\models\Post\Comment.php">
 </file>
 <file name="C:\work\Pox-Framework\application\models\Post.php">
 </file>
</checkstyle>
